
body{
background:#020617;
color:white;
font-family:Arial;
text-align:center;
}

.card,.box{
background:#0f172a;
width:90%;
max-width:400px;
margin:40px auto;
padding:20px;
border-radius:12px;
}

input,button{
width:100%;
padding:10px;
margin:6px;
border:none;
border-radius:6px;
}

button{
background:#22c55e;
font-weight:bold;
}

a{color:#38bdf8}

.menu button{
width:90%;
margin:4px;
}

.oculto{display:none}

