body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

input,button{
padding:10px;
margin:5px;
border-radius:8px;
border:none;
}

button{
background:#22c55e;
color:black;
font-weight:bold;
}

section{display:none;}
.active{display:block;}

nav button{
background:#38bdf8;
}

.box{
background:#1e293b;
padding:15px;
border-radius:10px;
}

.aviso{
color:yellow;
font-weight:bold;
}
