
body{
margin:0;
font-family:Arial;
background:linear-gradient(120deg,#0f172a,#020617);
color:white;
}

header{
background:#020617;
padding:20px;
text-align:center;
box-shadow:0 0 15px black;
}

nav{
display:flex;
justify-content:center;
gap:10px;
padding:15px;
background:#020617;
}

nav button{
background:#38bdf8;
border:none;
padding:10px 18px;
border-radius:20px;
font-weight:bold;
cursor:pointer;
}

main{
display:flex;
justify-content:center;
margin-top:30px;
}

.card{
background:#1e293b;
width:90%;
max-width:400px;
padding:25px;
border-radius:15px;
box-shadow:0 0 20px #000;
display:none;
text-align:center;
}

.active{display:block;}

input{
width:100%;
padding:10px;
margin:8px 0;
border-radius:10px;
border:none;
outline:none;
}

button{
background:#22c55e;
border:none;
padding:12px;
width:100%;
border-radius:10px;
font-weight:bold;
cursor:pointer;
margin-top:10px;
}

button:hover{
opacity:0.8;
}

.box{
background:#0f172a;
padding:15px;
border-radius:10px;
margin-top:15px;
}

footer{
text-align:center;
padding:15px;
opacity:0.6;
font-size:14px;
}
