*{box-sizing:border-box}

body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

header{
text-align:center;
padding:20px;
background:#000;
}

nav{
display:flex;
justify-content:center;
gap:10px;
padding:10px;
background:#111;
}

nav button{
background:#00ffcc;
border:none;
padding:8px 14px;
border-radius:5px;
font-weight:bold;
}

.container{
max-width:900px;
margin:auto;
padding:15px;
}

.card{
background:#0b132b;
padding:20px;
border-radius:12px;
margin-bottom:15px;
display:none;
box-shadow:0 0 15px rgba(0,255,204,.4);
}

.card h2{color:#00ffcc}

input,select{
width:100%;
padding:10px;
border:none;
border-radius:5px;
margin:6px 0;
}

button{
width:100%;
padding:10px;
border:none;
border-radius:5px;
background:#00ffcc;
font-weight:bold;
}

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
text-align:center;
}

.admin{border:2px solid gold}

footer{
text-align:center;
color:#aaa;
padding:15px;
}

