body{
margin:0;
font-family:Arial;
background:#0b1220;
color:white;
}

.top{
background:#020617;
padding:20px;
text-align:center;
box-shadow:0 0 15px black;
}

.menu{
display:flex;
justify-content:center;
gap:10px;
padding:10px;
background:#020617;
}

.menu button{
background:#2563eb;
border:none;
color:white;
padding:10px 18px;
border-radius:20px;
cursor:pointer;
}

main{
display:flex;
justify-content:center;
margin-top:20px;
}

.card{
background:#111827;
width:95%;
max-width:420px;
padding:25px;
border-radius:15px;
display:none;
box-shadow:0 0 20px black;
}

.active{display:block;}

input,select{
width:100%;
padding:10px;
margin:8px 0;
border-radius:10px;
border:none;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#22c55e;
font-weight:bold;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.box{
background:#020617;
padding:15px;
border-radius:10px;
text-align:center;
}

footer{
text-align:center;
padding:10px;
opacity:0.6;
}

