body{
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
background:#111;
padding:25px;
width:350px;
border-radius:15px;
box-shadow:0 0 20px #00ffc8;
text-align:center;
}

h1{
color:#00ffc8;
margin-bottom:5px;
}

.sub{
color:#aaa;
margin-bottom:15px;
}

.tabs button{
background:#222;
color:white;
border:none;
padding:10px;
margin:3px;
border-radius:5px;
cursor:pointer;
}

section{
display:none;
margin-top:15px;
}

.active{
display:block;
}

input{
width:100%;
padding:10px;
margin:6px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#00ffc8;
border:none;
border-radius:5px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#00c9a7;
}

p{
font-size:14px;
margin-top:5px;
}
