
body{
background:#0f172a;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.card{
background:#111827;
padding:30px;
border-radius:12px;
width:300px;
text-align:center;
box-shadow:0 0 15px #00ffcc;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:6px;
}

button{
width:100%;
padding:10px;
background:#00ffcc;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}
