body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f172a;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
}

header{
  background:#020617;
  width:100%;
  text-align:center;
  padding:20px;
}

.card{
  background:#020617;
  padding:25px;
  width:90%;
  max-width:350px;
  margin-top:30px;
  border-radius:12px;
  box-shadow:0 0 10px #38bdf8;
}

input{
  width:100%;
  padding:10px;
  margin-top:10px;
  border:none;
  border-radius:6px;
}

button{
  margin-top:15px;
  width:100%;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#38bdf8;
  font-weight:bold;
}

#msg{
  margin-top:10px;
  text-align:center;
}
